# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf

# Docker
Dockerfile text eol=lf
*.dockerignore text eol=lf

# Shell scripts
*.sh text eol=lf

# CSS
*.css text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
